*{
margin:0;
padding:0;
font-family: "Tahoma";
}
body{
background: #212121;
}
.content-wrap {
	background: #212121;
}

nav {
	margin: 0em auto;
	width: 100%;
	border-bottom: 3px solid rgb(73, 22, 192);
}

.nav-list {
	padding: 1em;
	text-align: center;
}
.nav-list-item {
	padding: 1em;
	transition: .2s;
	display: inline-block;
}
.nav-list-item a {
	color: #eee;	
	text-decoration: none;
	font-size: 18pt;
}
.nav-list-item:hover {
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px #000000 inset;
}

.images-wrap {
	display: flex;
	background: #212121;
	justify-content: center;
}

.image-item {
	margin: 1em .5em;
	display: inline-flex;
	width: 200px;
}
.image-item img {
	width: 200px;
}